.muli {
  font-family: "muli", sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  overflow: hidden;
  background-color: #ffd8d8;
}

header a{
  text-decoration: none;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

  header a:hover {
    text-decoration: underline;
  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 80vh;
  width: 70vw;
  background-color: white;
  border: 2px solid;
  border-radius: 50px;
}

div {
  width: 80%;
  margin: 90px;
}

img {
  width: 50%;
  margin-top: 200px;
  margin-left: 100px;
}