.muli {
  font-family: "muli", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  mix-blend-mode: difference;
  height: 30px;
  width: 30px;
  z-index: 1000;
  pointer-events: none;
  transition: all 200ms ease-out;
}


a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: 3px underline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 126px);
  background-color: white;
  grid-template-areas: 
  "a a a a1 b b b b b b"
  "a a a a1 b b b b b b"
  "a a a e e e e b1 b1 b1"
  "a a a e e e e b1 b1 b1"
  "d1 d1 d1 e e e e c1 c1 c1"
  "d d d d d d c c c c"
  "d d d d d d c c c c"
  ;
  font-size: 3rem;
}

.about {
  grid-area: a;
  border-bottom: 2px solid;
  padding-top: 100px;
  padding-left: 110px;
}
  .about1 {
    grid-area: a1;
    border-right: 2px solid;
  }

.new {
  /* background-color: #df9fff; */
  grid-area: b;
  padding-left: 500px;
  padding-top: 100px;
  height: 120%;
  transition: all 0.2s ease-in;
}
  .new1 {
    /* background-color: rgb(223, 159, 255); */
    grid-area: b1;
    border-bottom: 2px solid;
  }

.tmi {
  /* background-color: #c9ffcf; */
  grid-area: c;
  border-left: 2px solid;
  transition: all 0.2s ease-in;
}
  .tmi1 {
    /* background-color: rgb(201, 255, 207); */
    grid-area: c1;
    padding-left: 250px;
    padding-top: 180px;
  }

.old {
  /* background-color: #c6f4ff; */
  grid-area: d;
  padding-left: 100px;
  padding-top: 50px;
  transition: all 0.2s ease-in;
}
  .old1 {
    /* background-color: rgb(198, 244, 255); */
    grid-area: d1;
  }

.center {
  background-image: linear-gradient(to bottom right, #ffd8d8, #df9fff, #c9ffcf, #c6f4ff);
  grid-area: e;
  border: 2px solid;
  border-radius: 50px;
  padding: 80px;
  z-index: 999;
}
  .center p {
    margin-top: 70px;
    font-size: 1rem;
  }