.muli {
  font-family: "muli", sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  overflow: hidden;
  background-color: rgb(223, 159, 255);
}

header a{
  text-decoration: none;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

  header a:hover {
    text-decoration: underline;
  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 80dvh;
  width: 100dvw;
  background-color: white;
  border: 2px solid;
  border-radius: 50px;
}

div {
  width: 70%;
  margin: 90px;
  margin-top: 150px;
}

img {
  width: 50%;
  margin-top: 150px;
}

/* project 2 */
.type h3 {
  width: 80%;
  height: 7%;
}

.type li {
  list-style: none;
  font-size: 2rem;
  margin-left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: black;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }
