:root {
  --brown: #460a09;
}

.amandine {
  font-family: "amandine", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #ede1da;
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: center;
}
  button {
    cursor: pointer;
  }

main {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--brown);
}
  .left-section, .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .left-section {
    border-right: 2px solid var(--brown);
  }

  .right-section h1 {
    margin-bottom: 70px;
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 70%;
  }

  .right-section button {
    background-color: transparent;
    border: 1px solid var(--brown);
    color: var(--brown);
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
    font-family: "lexia-variable", sans-serif;
    font-variation-settings: "wght" 400;
  }

  .note-row, .row, #perfume2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "lexia-variable", sans-serif;
    font-variation-settings: "wght" 300;
    width: 60%;
  }

  .restart-btn {
    margin-top: 10%;
  }

  #perfume2 {
    justify-content: end;
  }

  img {
    width: 65%;
  }
